# dc3-spine1: AS 4200000031
# ethernet-1/1 -> dc3-leaf1:e1-49
set / interface ethernet-1/1 admin-state enable
set / interface ethernet-1/1 subinterface 0 admin-state enable
set / interface ethernet-1/1 subinterface 0 ip-mtu 9000
set / interface ethernet-1/1 subinterface 0 ipv4 admin-state enable
set / interface ethernet-1/1 subinterface 0 ipv4 unnumbered admin-state enable
set / interface ethernet-1/1 subinterface 0 ipv4 unnumbered interface system0.0
set / interface ethernet-1/1 subinterface 0 ipv6 admin-state enable
set / interface ethernet-1/1 subinterface 0 ipv6 router-advertisement router-role admin-state enable
# ethernet-1/2 -> dc3-leaf2:e1-49
set / interface ethernet-1/2 admin-state enable
set / interface ethernet-1/2 subinterface 0 admin-state enable
set / interface ethernet-1/2 subinterface 0 ip-mtu 9000
set / interface ethernet-1/2 subinterface 0 ipv4 admin-state enable
set / interface ethernet-1/2 subinterface 0 ipv4 unnumbered admin-state enable
set / interface ethernet-1/2 subinterface 0 ipv4 unnumbered interface system0.0
set / interface ethernet-1/2 subinterface 0 ipv6 admin-state enable
set / interface ethernet-1/2 subinterface 0 ipv6 router-advertisement router-role admin-state enable
# ethernet-1/48 -> dc3-external:eth1
set / interface ethernet-1/48 admin-state enable
set / interface ethernet-1/48 subinterface 0 admin-state enable
set / interface ethernet-1/48 subinterface 0 ip-mtu 9000
set / interface ethernet-1/48 subinterface 0 ipv4 admin-state enable
set / interface ethernet-1/48 subinterface 0 ipv4 unnumbered admin-state enable
set / interface ethernet-1/48 subinterface 0 ipv4 unnumbered interface system0.0
set / interface ethernet-1/48 subinterface 0 ipv6 admin-state enable
set / interface ethernet-1/48 subinterface 0 ipv6 router-advertisement router-role admin-state enable

set / interface system0 admin-state enable
set / interface system0 subinterface 0 admin-state enable
set / interface system0 subinterface 0 ipv4 admin-state enable
set / interface system0 subinterface 0 ipv4 address 10.203.0.1/32

set / network-instance default
set / network-instance default ip-forwarding
set / network-instance default ip-forwarding receive-ipv4-check false
set / network-instance default interface ethernet-1/1.0
set / network-instance default interface ethernet-1/2.0
set / network-instance default interface ethernet-1/48.0
set / network-instance default interface system0.0

set / routing-policy policy all default-action policy-result accept

set / network-instance default protocols bgp admin-state enable
set / network-instance default protocols bgp autonomous-system 4200000031
set / network-instance default protocols bgp router-id 10.203.0.1
set / network-instance default protocols bgp ebgp-default-policy import-reject-all false
set / network-instance default protocols bgp ebgp-default-policy export-reject-all false
set / network-instance default protocols bgp group fabric export-policy [ all ]
set / network-instance default protocols bgp group fabric afi-safi ipv4-unicast admin-state enable
set / network-instance default protocols bgp group fabric afi-safi ipv4-unicast ipv4-unicast advertise-ipv6-next-hops true
set / network-instance default protocols bgp group fabric afi-safi ipv4-unicast ipv4-unicast receive-ipv6-next-hops true
set / network-instance default protocols bgp group external export-policy [ all ]
set / network-instance default protocols bgp group external afi-safi ipv4-unicast admin-state enable
set / network-instance default protocols bgp afi-safi ipv4-unicast admin-state enable
set / network-instance default protocols bgp afi-safi ipv4-unicast multipath
set / network-instance default protocols bgp afi-safi ipv4-unicast multipath allow-multiple-as true
set / network-instance default protocols bgp afi-safi ipv4-unicast multipath ebgp maximum-paths 64
set / network-instance default protocols bgp dynamic-neighbors interface ethernet-1/1.0 peer-group fabric
set / network-instance default protocols bgp dynamic-neighbors interface ethernet-1/1.0 allowed-peer-as [ 4200001031..4200001032 ]
set / network-instance default protocols bgp dynamic-neighbors interface ethernet-1/2.0 peer-group fabric
set / network-instance default protocols bgp dynamic-neighbors interface ethernet-1/2.0 allowed-peer-as [ 4200001031..4200001032 ]
set / network-instance default protocols bgp dynamic-neighbors interface ethernet-1/48.0 peer-group external
set / network-instance default protocols bgp dynamic-neighbors interface ethernet-1/48.0 allowed-peer-as [ 4200000030 ]
