client
# This file describes the network interfaces
auto eth1
iface eth1
    address 10.10.10.10/24

# ports.conf --

frr version 10.6.1
frr defaults traditional
hostname client
service integrated-vtysh-config
!
interface eth1
 ip address 10.10.10.10/24
!
ip route 10.20.20.0/24 10.10.10.1
!
line vty
